* {
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
    --light: #fff;
    --lesslight: #efefef;
    --dark: #262626;
    --moredark: #363636;
    --link: royalblue;
    border-top: 5px solid var(--dark);
    line-height: 1.6em;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei" !important;
    font-size: 16px;
    color: var(--dark);
}

h1 {
    line-height: 1em;
}
h1,h2,h3,h4,h5{
    color: var(--moredark);
}

button, input {
    font-size: 1em; /* Override browser default font shrinking*/
}

input {
    border: 1px solid var(--dark);
    background-color: var(--lesslight);
    border-radius: .25em;
    padding: .5em;
}

code {
    background-color: var(--lesslight);
    padding: .2em;
}

pre {
    background-color: var(--lesslight);
    margin: 0.5em 0 0.5em 0;
    padding: .5em .8em;
    overflow: auto;
}
pre code {
    font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",sans-serif;
    font-size: .9em;
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 850px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    outline: none;
    color: var(--dark);
}

a:hover {
    text-decoration-color: var(--link);
    background-color: var(--lesslight);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
blockquote{
    padding: .5em;
    margin-inline-start: .2em;
    margin-inline-end: .2em;
    border-left: 3px solid  var(--dark);
    background-color: var(--lesslight);
}
blockquote p{
    margin-block-start: 0;
    margin-block-end: 0;
}
button, .button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: var(--lesslight);
    background-color: var(--moredark);
}

/* table */
table {
    width: 100%;
    border-collapse: collapse; /* 合并边框 */
    margin: 20px 0;
}
th, td {
    border: 1px solid var(--lesslight);
    padding: 5px 8px;
    text-align: left;
}
th {
    background-color: var(--lesslight);
}

/* Add a margin between side-by-side buttons */
button + button, .button + .button, input[type=submit] + input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Desktop sizes */
@media (min-width: 600px) {
    ol.twocol {
        column-count: 2;
    }
    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }
    /* Make everything in a row a column */
    .row > * {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }
    .row > *:not(:last-child) {
        margin-right: 10px;
    }
}

/* Dark mode overrides (confusingly inverse) */
@media (prefers-color-scheme: dark) {
    :root {
        --light: #363636;
        --lesslight: #262626;
        --dark: #eee;
        --moredark: #fefefe;
    }
    /* This fixes an odd blue then white shadow on FF in dark mode */
    *:focus {
        outline: var(--light);
        box-shadow: 0 0 0 .25em var(--link);
    }
}

/* Printing */
@media print {
    .home {
        display: none;
    }
}
